<body>
  <h1>Compte<h1>
    <h2>Connexion</h2>
    <form>
      <label for="email">Identifiant</label>
      <input type="email" name="email" required /><br/>
      <label for="password">Mot de passe</label>
      <input type="password" name="password" required /><br/>
      <input type="submit" name="connexion" value="Connexion" class="btn btn-primary"/>
    </form>
  <a href="/inscription">Inscription</a>
</body>