<body>
<h1>Inscription</h1>
<form>
  <!-- <label for="username">Nom d'utilisateur :</label> -->
  <!-- <input type="text" name="username" /><br/> -->
  <label for="email">Email :</label>
  <input type="email" name="email" required /><br/>
  <label for="password">Mot de passe :</label>
  <input type="password" name="password" aria-/><br/>
  <div class="pswdCheck" hidden="true">
    <label for="password">Vérification mot de passe :</label>
    <input type="password" name="passwordCheck"/> <br/>  
  </div>
  <input type="submit" name="sign_up" value="Inscription" class="btn btn-primary"/>
</form>
</body>